/* CSS Document */

.mango-dashboard {}
.mango-dashboard {}
.mango-dashboard .lists { margin-bottom:30px;}
.mango-dashboard .lists h3 { font-weight:400;}
.mango-dashboard .lists i{ font-size:60px;}


