a:link {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
a:visited {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
a:hover{
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFa750;
  text-decoration: none;
}
a:active{
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
.header-table {
  background: url(_header_bg.png) repeat scroll 0 0 transparent;
  margin: 0px;
  scroll: no;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height: 100%;  
}
body { margin: 0px; padding: 0px; font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; }

/* Top */
#topoEsquerda { height: 49px; width: 50%; background:url(_header_bg.png); float:left; }
#topoDireita { height: 49px; width: 50%; background:url(_header_bg.png); float:left; text-align:right; }
#listaIcones { margin: 12px 0 0 15px; padding: 0; float:left; width: 300px; }
	#listaIcones li { display:inline; margin-right: 15px; }
	#listaIcones img { border: 0; vertical-align:middle; }
	#listaIcones a { color: #fff; font-weight: bold; text-decoration:none; font-size: 12px; }

#imagemLateral { float:left; }
/* x Top */
