.scGridToolbarPadding { text-align: right }
.scGridHeaderFont { text-align: center }
.scGridFooterFont { text-align: center }
.scGridObjectOdd { text-align: right }
.scGridBlock { text-align: right }
.scGridTotalFont { text-align: right }
.scGridSubtotalFont { text-align: right }
.scGridFieldEvenFont { text-align: right }
.scGridFieldEvenVert { text-align: right }
.scGridFieldOddFont { text-align: right }
.scGridFieldOddVert { text-align: right }
.scGridLabelVert { text-align: center }
.scGridLabelFont { text-align: center }
