a:11:{s:7:"cod_prj";s:7:"sc_news";s:7:"version";s:3:"2.0";s:12:"display_name";s:4:"News";s:18:"display_name_style";s:0:"";s:11:"description";s:0:"";s:5:"image";s:8:"news.png";s:11:"image_style";s:0:"";s:3:"log";s:0:"";s:5:"order";s:1:"6";s:11:"apl_initial";s:5:"login";s:16:"apl_initial_type";s:5:"contr";}