a:11:{s:7:"cod_prj";s:10:"onlineShop";s:7:"version";s:3:"2.1";s:12:"display_name";s:10:"OnlineShop";s:18:"display_name_style";s:0:"";s:11:"description";s:0:"";s:5:"image";s:14:"onlineshop.png";s:11:"image_style";s:0:"";s:3:"log";s:0:"";s:5:"order";s:1:"2";s:11:"apl_initial";s:5:"index";s:16:"apl_initial_type";s:5:"contr";}